.footer{
    background-color: black;
    display: table;
    position: fixed;
    bottom: 0;
}
p{
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.mat-toolbar-single-row {
    height: auto !important;
}