#add_new_event {
    padding: 60px 0 60px 0;
  }
  
  #add_new_event .nav {
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 80px;
  }
   
  #add_new_event .nav a {
    font-weight: 600;
    padding: 10px 100px;
    text-transform: uppercase;
  }
  
  @media (max-width: 991px) {
    #add_new_event .nav a {
      padding: 8px 60px;
    }
  }
  
  @media (max-width: 767px) {
    #add_new_event .nav a {
      padding: 8px 50px;
    }
  }
  
  @media (max-width: 480px) {
    #add_new_event .nav a {
      padding: 8px 30px;
    }
  }
   
  #add_new_event .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
  }
  
  @media (min-width: 991px) {
    #add_new_event .sub-heading {
      width: 75%;
    }
  }
 
  #add_new_event .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
  }
  
  #add_new_event .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
  }
  
  #add_new_event .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
  }
  
  #add_new_event .schedule-item .speaker img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
  }
  
  #add_new_event .schedule-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #add_new_event .schedule-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
  }
  
  #add_new_event .schedule-item p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
  }
 